fastapi~=
ipython==
ipython-genutils==
json5==
jsonschema==
jsonschema-specifications==
jupyter-server==
jupyter_client==
jupyter_core==
jupyterlab==
jupyterlab-pygments==
jupyterlab_server==
matplotlib==
matplotlib-inline==
numpy==
pandas==
pandas-profiling==0
pyarrow==
python-dateutil==
python-dotenv==
scikit-learn==
scipy==
seaborn==
textblob==
uvicorn==
statsmodels==
